@import "_variables";
@import "_titles";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0px 140px;
  padding-top: 70px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: 70px;
  width: 100%;
  padding: 0px 140px;
  font-family: "Montserrat";
  font-weight: 500;
  nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %minTitle;
    ul {
      display: flex;
      font-size: 10px;
      li {
        cursor: pointer;
        letter-spacing: 2px;
      }
      &:first-child {
        li {
          margin-right: 30px;
        }
      }
    }
  }
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(https://graphics.stanford.edu/~mdfisher/TutorialData/ClothIntro.png);
  background-size: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 70px;
  h3 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 100px;
  }
  a {
    width: 20%;

    @extend %minTitle;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1em;

    border: 2px solid rgba(0, 0, 0, 0);
    background-color: white;
    padding: 15px 0px;
    color: black;

    transition: all 0.3s ease-in-out, background 0.7s linear;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.under-hero {
  height: 75vh;
  display: flex;
  margin-bottom: 70px;
  img {
    background-size: cover;
    background-position: center;
  }
  .under-hero__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg;
    h4 {
      @extend %minTitle;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 36px;
      text-align: center;
      margin-bottom: 20px;
    }
    a {
      border: 1px solid black;
      padding: 20px;
      @extend %minTitle;
      font-size: 12px;
    }
  }
  img,
  div {
    width: 50%;
  }
}

.blog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 60vh);
  .blog__post {
  }
}
